@import '../../constant/root.css';

.portfolio__container.container{
    overflow: initial;
    position: relative;
    margin-left:0;
    margin-right: 0;
}

.portfolio__content{
    padding:0 20px;
}

.portfolio__img-box{
    position: relative;
   width: 100%;
   padding-top: 56.25%;
}

.portfolio__img{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    justify-self: center;
}

.portfolio__title{
    font-size:var(--h2-font-size);
    margin-bottom:var(--mb-0-5);
    color:var(--title-color);
}

.portfolio__description{
    margin-bottom:var(--mb-0-75);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    color:var(--text-color);
}

/* ------------------custon flickity */

.flickity-prev-next-button.flickity-button{
    background: var(--hover-color);
    display: none;
}
.flickity-prev-next-button.flickity-button:hover,
.flickity-prev-next-button.flickity-button:focus{
    background: var(--hover-color);
}

.portfolio .flickity-page-dots .dot{
    background: var(--hover-color);
    opacity: .4;
    transition: .3s linear;
}

.portfolio .flickity-page-dots .dot.is-selected{
    transform: scale(1.3);
}

@media screen and (min-width: 768px) {
    .flickity-prev-next-button.flickity-button{
        display: block;
    }
}