@import '../../constant/root.css';

.portfolio__container.container{
    overflow: initial;
    position: relative;
    margin-left:0;
    margin-right: 0;
}

.portfolio__content{
    padding:0 20px;
}

.portfolio__img{
    width:100%;
    height:300px;
    border-radius: .5rem;
    justify-self: center;
}

.portfolio__title{
    font-size:var(--h2-font-size);
    margin-bottom:var(--mb-0-5);
    color:var(--title-color);
}

.portfolio__description{
    margin-bottom:var(--mb-0-75);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    color:var(--text-color);
}
 /* -----------------------custom antd design------------------- */

 .portfolio .ant-carousel{
     margin:0 -10px;
 } 
 .portfolio .ant-carousel .slick-dots-bottom{
    bottom:-40px;
}
.portfolio .ant-carousel .slick-dots li{
    width:12px;
    height:12px;
    border-radius: 6px;
    overflow: hidden;
}

.portfolio .ant-carousel .slick-dots li button{
    background:var(--hover-color-dark);
    color:red !important;
    height: 100%;
    width: 100%;
}

.portfolio .ant-carousel .slick-dots li.slick-active button{
    background:var(--hover-color-dark);
}

.dark-theme .portfolio .ant-carousel .slick-dots li.slick-active button{
    background:#fff !important;
}



/* ------------------custon flickity */

.flickity-prev-next-button.flickity-button{
    background: var(--hover-color);
}
.flickity-prev-next-button.flickity-button:hover,
.flickity-prev-next-button.flickity-button:focus{
    background: var(--hover-color);
}

.portfolio .flickity-page-dots .dot{
    background: var(--hover-color);
    opacity: .4;
    transition: .3s linear;
}

.portfolio .flickity-page-dots .dot.is-selected{
    transform: scale(1.3);
}