@import '../../constant/root.css';

.portfolio__container{
    overflow: initial;
    position: relative;
}

.portfolio__container::before,
.portfolio__container::after{
    content:'';
    position: absolute;
    height:100%;
    width:20px;
    background-color:var(--body-color);
    z-index: var(--z-fixed);
}

.portfolio__container::before{
    left:-20px;
}

.portfolio__container::after{
    right:-20px;
    top:0;
}

.portfolio__content{
    padding: 0 10px;
}

.portfolio__img{
    width:100%;
    height:300px;
    border-radius: .5rem;
    justify-self: center;
}

.portfolio__title{
    font-size:var(--h2-font-size);
    margin-bottom:var(--mb-0-5);
    color:var(--title-color);
}

.portfolio__description{
    margin-bottom:var(--mb-0-75);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    color:var(--text-color);
}
 /* -----------------------custom antd design------------------- */

 .portfolio .ant-carousel{
     margin:0 -10px;
 } 
 .portfolio .ant-carousel .slick-dots-bottom{
    bottom:8px;
}
.portfolio .ant-carousel .slick-dots li{
    width:12px;
    height:12px;
    border-radius: 6px;
    overflow: hidden;
}

.portfolio .ant-carousel .slick-dots li button{
    background:var(--hover-color-dark);
    color:red !important;
    height: 100%;
    width: 100%;
}