@import '../../constant/root.css';

.footer{
  padding:2rem 0;
}

.footer__container{
  row-gap:3rem;
}

.footer__bg{
  background-color:var(--first-color-second);
  padding:6rem 0;
}

.footer__title{
  font-size:var(--h1-font-size);
  margin-bottom:var(--mb-0-25);
}

.footer__subtitle{
  font-size:var(--small-font-size);
}

.footer__links{
  display:flex;
  flex-direction: column;
  row-gap: 1.5rem;
  list-style: none;
}

.footer__link{
  color:var(--text-color);
  transition: .3s linear;
  font-weight: var(--font-semi-bold);
  text-transform: capitalize;
}

.footer__link:hover{
  color:var(--first-color-lighter)
}

.footer__social{
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
  transition: .3s linear;
}

.footer__social:hover{
  color:var(--first-color-lighter);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social{
  color:#f0f0f0;
}

