@import '../../constant/root.css';

.header{
    width: 100%;
    position: fixed;
    bottom:0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.header--scroll{
    box-shadow: 0 -1px 5px rgba(0,0,0,.2);
}

.nav{
    max-width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle{
    color:var(--title-color);
    font-weight: var(--font-medium);
}

.nav__list{
list-style: none
}

.nav__logo:hover{
    color: var(--hover-color);
}

.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover{
    color:var(--hover-color);
}

@media screen and (max-width: 767px) {
    .nav__menu{
        position: fixed;
        bottom:-100%;
        left:0;
        width: 100%;
        background-color: var(--body-color);
        padding:2rem 1.5rem;
        box-shadow: 0 1px 5px rgba(0,0,0,.2);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .5s;
    }
}

.nav__list{
    grid-template-columns: repeat(3,1fr);
    /* grid-template-columns: repeat(auto-fit,minmax(100px,1fr)); */
    
    gap:2rem;
}

.nav__link{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color:var(--title-color);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.nav__link:hover{
    color:var(--hover-color);
}

.nav__icon{
    font-size:1.2rem;
}

.nav__close{
    position:absolute;
    right:1.5rem;
    bottom:.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color:var(--hover-color);
    transition: .3s;
}

.nav__close:hover{
    color:var(--hover-color-dark);
}

.show-menu{
    bottom:0;
}

.nav__active{
    color:var(--hover-color);
}

.nav__btns{
    display: flex;
    align-items: center;
}

.change-theme{
    font-size:1.25rem;
    color:var(--title-color);
    margin-right: var(--mb-1);
    cursor:pointer;
}

.change-theme:hover{
    color:var(--hover-color);
}