.skills__header{
  display: flex;
  align-items:center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.skills__icon,
.skills__arrow{
  font-size: 2rem;
  color:var(--hover-color)
}

.skills__icon{
  margin-right: var(--mb-0-75);
}

.skills__title{
  font-size:var(--h2-font-size);
  position: relative;
}

.skills__subtitle{
  position: absolute;
  top:calc(100% + .5rem);
  left:0;
  font-size: var(--smaller-font-size);
  color:var(--text-color-light);
}

.skills__arrow{
  margin-left: auto;
  transition: .4s;
}

.skills__list-box{
  overflow: hidden;
  transition: all .3s linear;
}

.skills__list{
  row-gap: 1.5rem;
  /* padding-left: 3rem; */
  transition: .3s;
}

.skills__titles{
  display: flex;
  justify-content: space-between;
}

.skills__name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  text-transform: uppercase;
}

.skills__bar,
.skills__percentage{
  height:5px;
  border-radius: .25rem;
}

.skills__bar{
  background-color: var(--first-color-lighter);
}

.skills__percentage{
  display:block;
  background-color: var(--hover-color);
}

.skills__close .skills__list{
  /* height: 0;
  overflow: hidden; */
  transform: translateY(-100%);
}

.skills__open .skills__list{
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow{
  transform: rotate(-180deg);
}