@import './constant/root.css';
@import 'antd/dist/antd.css';

/* FOR BIG DEVICES */
@media screen and (min-width:968px) {
    :root{
        --big-font-size:3rem;
        --h1-font-size:2.25rem;
        --h2-font-size:1.5rem;
        --h3-font-size:1.25rem;
        --normal-font-size:1rem;
        --small-font-size:0.875rem;
        --smaller-font-size:0.825rem;
    }
}

/* BASE */

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html{
    scroll-behavior: smooth;
}

.App{
    margin:0 0 var(--header-height) 0;
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    padding-bottom: 2rem;
}

h1,h2,h3,h4{
    color:var(--title-color);
    font-weight: var(--font-semi-bold);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* SECTION */

.section{
    padding: 1rem 0 2rem;
}


.section__title{
    text-align: center;
    font-size:  var(--h1-font-size);
    text-transform: capitalize;
}

.section__subtitle{
    display: block;
    text-align: center;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}



.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
    background-color: var(--container-color);
}

/* dark theme */

.App.dark-theme{
    --first-color-second:hsl(var(--hue-color),30%,8%);
    --title-color:hsl(var(--hue-color),8%,95%);
    --text-color:hsl(var(--hue-color),8%,75%);
    --input-color:hsl(var(--hue-color),29%,16%);
    /* --body-color:hsl(var(--hue-color),28%,12%); */
    --body-color:hsl(var(--hue-color),29%,18%);
}



