@import './constant/root.css';
@import './constant/flickity.css';

/* FOR BIG DEVICES */
@media screen and (min-width:968px) {
    :root{
        --big-font-size:3rem;
        --h1-font-size:2.25rem;
        --h2-font-size:1.5rem;
        --h3-font-size:1.25rem;
        --normal-font-size:1rem;
        --small-font-size:0.875rem;
        --smaller-font-size:0.825rem;
    }
}

/* BASE */

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html{
    scroll-behavior: smooth;
}

.App{
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    padding-bottom: 0;
    transition: all .3s linear;
}

h1,h2,h3,h4{
    color:var(--title-color);
    font-weight: var(--font-semi-bold);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* SECTION */

.section{
    padding: 2.5rem 0;
}


.section__title{
    text-align: center;
    font-size:  var(--h1-font-size);
    text-transform: capitalize;
}

.section__subtitle{
    display: block;
    text-align: center;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}



.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
    background-color: var(--container-color);
}

/* dark theme */

.App.dark-theme{
    --first-color-second:hsl(var(--hue-color),30%,8%);
    --title-color:hsl(var(--hue-color),8%,95%);
    --text-color:hsl(var(--hue-color),8%,75%);
    --input-color:hsl(var(--hue-color),29%,16%);
    /* --body-color:hsl(var(--hue-color),28%,12%); */
    --body-color:hsl(var(--hue-color),29%,18%);
}

@media screen and (max-width:350px){
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav__menu{
        padding:2rem .25rem 4rem;
    }

    .nav__list{
        column-gap: 0;
    }

    .home__content{
        grid-template-columns: .25fr 3fr;
    }

    .home__blob{
        width: 180px;
    }

}

@media screen and (min-width: 568px){
    .home__content{
        grid-template-columns: max-content 1fr 1fr;
    }

    .home__data{
        grid-column: initial;
    }

    .home__image{
        order:1;
        justify-self: center;
    }

    .about__container{
        grid-template-columns: repeat(2,1fr);
    }

    .about__img{
        width: 100%;
    }

    /* .skills__container{ 
        will use when we have two or more skill and exp
        grid-template-columns: repeat(2,1fr);
    } */
    .contact__container,
    .footer__container{
        grid-template-columns: repeat(2,1fr);
    }

    .footer__links{
        flex-direction: row;
        column-gap: 2rem;
    }
    .footer__links li{
        margin-right: 1rem;
    }
}

@media screen  and (min-width: 768px){
    .container{
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .body{
        margin:0;
    }

    .section{
        padding:4rem 0 2rem;
    }

    .section__subtitle{
        margin-bottom: 4rem;
    }
    
    .header{
        top:0;
        bottom:initial;
    }

    .header,
    .main,
    .footer__container{
        padding:0 1rem;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle{
        display: none;
    }

    .nav__list{
        display: flex;
        column-gap: 2rem;
    }

    .nav__menu{
        margin-left: auto;
    }

    .change-theme{
        margin:0;
    }

    .home__container{
        row-gap: 5rem;
    }

    .home__content{
        padding-top:5.5rem;
        column-gap:2rem;
    }

    .home__blob{
        width:250px;
    }

    .footer{
        padding:0;
    }

    .footer__container{
        grid-template-columns: repeat(3,1fr);
    }

    .footer__bg{
        padding:6rem 0;
    }

    .footer__socials{
        justify-self: flex-end;
    }

}

@media screen and (min-width: 1024px) {
    .main,
    .footer__container{
        padding:0;
    }

    .home__social{
        transform: translateX(-6rem);
    }
}

