@import '../../constant/root.css';
@import '../../constant/button.css';
.home__container{
  gap:1rem;
}

.home__content{
  grid-template-columns: .5fr 3fr;
  padding-top:3.5rem;
  align-items: center;
  margin-bottom: var(--mb-2);
}

.home__social{
  display:grid;
  grid-template-columns: max-content;
  gap:1rem;
}

.home__social-icon{
  font-size:1.25rem;
  color:var(--hover-color);
}

.home__social-icon:hover{
  color:var(--hover-color-dark);
}

.home__blob{
  width:200px;
  fill:var(--hover-color);
}

.home__blob-img{
  width: 100%;
  height:100%;
}

.home__data{
  grid-colums:1/3;
}

.home__title{
  font-size:var(--big-font-size);
}

.home__subtitle{
  font-size:var(--h3-font-size);
  color:var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-2);
}

.home__description{
  margin-bottom: 2rem;
}

.home__scroll{

}

.home__scroll-button{
  color:var(--hover-color);
  transition: .3s;
}

.home__scroll-button:hover{
  transform: translateY(.25rem);
}

.home__scroll-name{
  font-size:var(--small-font-size);
  color:var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-5);
}

.home__scroll-arrow{
  font-size: 1.25rem;
}