@import '../../constant/root.css';

.contact__container{
  row-gap:3rem;
}

.contact__infomation{
  display: flex;
  margin-bottom: var(--mb-2);
}

.contact__icon{
  font-size: 2rem;
  color:var(--hover-color);
  margin-right:var(--mb-0-75)
}

.contact__title{
  font-size:var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact__subtitle{
  font-size:var(--small-font-size);
  color:var(--text-color-light);
}

.contact__content{
  background-color: var(--input-color);
  border-radius: .5rem;
  padding:.75rem 1rem;
}
.contact__label{
  font-size: var(--small-font-size);
}
.contact__input{
  width:100%;
  background-color: var(--input-color);
  color:var(--text-color);
  font-size: var(--normal-font-size);
  border:none;
  outline: none;
  padding:.25rem .5rem .5rem 0;
}